@using DenModerneProduktion.Services
@inject ApiRequester requester
@inject ViewHelper viewHelper
@inject NavigationManager Navigation
@rendermode InteractiveServer

@page "/rooms/{_Id}"
<PageTitle>Lokale</PageTitle>
@if (_IsLoading)
{
    <Spinner Class="js-spinner" Size="SpinnerSize.ExtraLarge" />
}
else
{
    <div class="js-room-container">
        <h1>@_Room.Name</h1>
        <div class="js-room-header">
            <div class="js-room-header-selectors">
                <div class="js-room-header-type-selector">
                    <h4 @onclick="()=>ChangeTypeAsync(2)"><Icon Name="IconName.ThermometerHigh" Size="IconSize.x4" /></h4>
                    <h4 @onclick="()=>ChangeTypeAsync(3)"><Icon Name="IconName.DropletFill" Size="IconSize.x4" /></h4>
                    <h4 @onclick="()=>ChangeTypeAsync(4)"><Icon Name="IconName.LightningFill" Size="IconSize.x4" /></h4>
                </div>
                <div class="js-room-header-period-selector">
                    <h4 @onclick="()=>ChangePeriodAsync(0)">D</h4>
                    <h4 @onclick="()=>ChangePeriodAsync(1)">W</h4>
                    <h4 @onclick="()=>ChangePeriodAsync(2)">M</h4>
                </div>
            </div>
            @if (_UserIsAdmin)
            {
                <div class="js-room-header-admin">
                    <a href="@($"/admin/rooms/{_Id}")"><Icon Name="IconName.Gear" Size="IconSize.x2" Color="IconColor.Primary" /></a>
                </div>
            }
        </div>
        <div class="js-room-data">
            <div class="js-room-data-header">
                <h4 class="js-room-data-current">@($"{CurrentValue}{Suffix}")</h4>
                <div class="js-room-data-limit">
                    <div class="js-room-data-limit-min">
                        <label for="js-room-data-limit-min-value">Minimum</label>
                        <InputNumber id="js-room-data-limit-min-value" TValue="double?" Value="@_MinValue" ValueExpression="@(()=>_MinValue)" ValueChanged="@UpdateMinLimitValueAsync" class="js-room-data-limit-min-input" />
                    </div>
                    <div class="js-room-data-limit-max">
                        <label for="js-room-data-limit-max-value">Maximum</label>
                        <InputNumber id="js-room-data-limit-max-value" TValue="double?" Value="@_MaxValue" ValueExpression="@(()=>_MaxValue)" ValueChanged="@UpdateMaxLimitValueAsync" class="js-room-data-limit-max-input" />
                    </div>
                </div>
            </div>
            <div class="js-room-data-graph"></div>
        </div>
    </div>
}



@code {
    [Parameter]
    public string _Id { get; set; }
    public bool _IsLoading { get; set; } = true;
    public int CurrentDataType { get; set; } = 2;
    public int CurrentDataPeriod { get; set; } = 0;
    public string Suffix { get; set; } = "";

    public List<Shared.Models.DeviceData> _RoomDeviceData { get; set; } = new();
    public Shared.Models.Room _Room { get; set; } = new();
    public string? CurrentValue { get; set; }
    public double? _MinValue { get; set; } = 5;
    public double? _MaxValue { get; set; }
    public bool _UserIsAdmin { get; set; }

    protected async Task UpdateMinLimitValueAsync(double? value)
    {
        _MinValue = value;
        var response = await requester.Put<Room>($"api/rooms/{_Id}/limit", new Shared.DTOs.Room.UpdateDataLimit()
        {
            Min = _MinValue,
            Max = _MaxValue,
            DataTypeId = CurrentDataType
        });
    }
    protected async Task UpdateMaxLimitValueAsync(double? value)
    {
        _MaxValue = value;
        var response = await requester.Put<Room>($"api/rooms/{_Id}/limit", new Shared.DTOs.Room.UpdateDataLimit()
            {
                Min = _MinValue,
                Max = _MaxValue,
                DataTypeId = CurrentDataType
            });
    }
    public async Task ChangePeriodAsync(int index)
    {
        CurrentDataPeriod = index;
        await GetData();
    }
    public async Task ChangeTypeAsync(int index)
    {
        CurrentDataType = index;
        await GetData();
    }

    protected override async Task OnInitializedAsync()
    {
        await GetData();
        _UserIsAdmin = CheckIfUserIsAdmin();
        await OnLocationChangedAsync();
        Navigation.LocationChanged += async (object? sender, LocationChangedEventArgs e) => await OnLocationChangedAsync();
    }
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
            _IsLoading = false;
    }

    private async Task OnLocationChangedAsync() => await GetData();
    private async Task GetData()
    {
        _IsLoading = true;
        StateHasChanged();
        string baseApiUri = "api/rooms/" + _Id + "/data?";
        baseApiUri += $"deviceDataType={CurrentDataType}&";
        baseApiUri += $"periodType={CurrentDataPeriod}";
        await GetDeviceDataAsync(baseApiUri);
        await GetRoomDataAsync(baseApiUri);
        _IsLoading = false;
        StateHasChanged();
    }
    private async Task GetDeviceDataAsync(string baseApiUri)
    {
        var response = await requester.Get<List<Shared.Models.DeviceData>>(baseApiUri);
        if (response.StatusCode != 200)
        {
            viewHelper.Alert(response.Message);
            return;
        }

        _RoomDeviceData = ((Shared.Responses.AcceptedResponse<List<Shared.Models.DeviceData>>)response).Data;
        if (_RoomDeviceData.Count > 0)
        {
            Suffix = _RoomDeviceData.FirstOrDefault().Type.Suffix;
            CurrentValue = _RoomDeviceData.First().Value;
        }
        else
        {
            Suffix = "";
            CurrentValue = "N/A";
        }
    }
    private async Task GetRoomDataAsync(string baseApiUri)
    {
        var response = await requester.Get<List<Shared.Models.DeviceData>>(baseApiUri);
        response = await requester.Get<Shared.Models.Room>("api/rooms/" + _Id);
        if (response.StatusCode != 200)
        {
            viewHelper.Alert(response.Message);
            return;
        }

        _Room = ((Shared.Responses.AcceptedResponse<Shared.Models.Room>)response).Data;
    }

    private bool CheckIfUserIsAdmin()
    {
        return true;
    }
}
